@import "tailwindcss";

@theme {
  --color-brand-red: #990000;
  --color-brand-dark: #0F0F0F;
  --color-brand-black: #000000;
  --color-brand-gray: #1C1C1C;
  --color-brand-text: #EDEDED;
  --color-brand-muted: #A1A1A1;
}

:root {
  --background: #000000;
  --foreground: #EDEDED;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
